* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container { 
    height: 100vh; 
    display: flex;
} 

/*laundry image left*/ 
.left{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}
.left img {
    width: 100%;
    background-size: cover;
    

}

/* form right */
.right {
    flex-basis: 50%;
    background-color: rgb(225, 241, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#text {
    text-align: center;
    padding-bottom: 30px;
}

#text h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

#text h2 {
    font-size: 15px;
    font-weight: normal;
}

.right label {
    margin-bottom: 8px;
    font-size: 12px;
}


#emailform {
    padding-bottom: 20px;
}
#passwordform {
    padding-bottom: 5px;
}

.right input {
    width:100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(236, 250, 255);
}

.forgot {
    width: 100%;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

#btn {
    background-color: rgb(126, 221, 255);
    color: white;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

#regi {
    padding-top: 30px;
    font-size: 14px;
    align-self: center;
}

#register {
    text-decoration: none;
}
